<template>
	<div>
		<v-container fluid pt-0 grid-list-xl>
			<section-tooltip :title="$t('message.overview')" :tooltip="$t('message.dashboardOverview')"></section-tooltip>
		</v-container>
	</div>
</template>

<script>

export default {
  components: {
  },
  data() {
    return {
		
    };
  }
};
</script>
